<%= simple_form_for [:parent, @parent_meeting] do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors with your meeting:</h4>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if  @parent_meeting.persisted? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Day</th>
        <th>Available Hours</th>
      </tr>
    </thead>
    <tbody>
      <% meeting.free_hours.each do |day, hours| %>
        <tr>
          <td><%= day %></td>
          <td>
            <%= hours.map { |h| "#{h[0].strftime("%I:%M %p")} - #{h[1].strftime("%I:%M %p")}" }.join("; ") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

  <%= f.input :meeting_id, as: :hidden %>
  <%= f.input :parent_id, as: :hidden %>
  <%= f.date_field :day_when, as: :string, label: "Day" %>
  <%= f.time_field :meeting_hour, class: "flatpickr", data: { controller: "flatpickr" } %>
  </p>
  <div class="d-grid">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>