<%= simple_form_for [:parent, @parent_meeting] do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors with your meeting:</h4>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :meeting_id, as: :hidden %>
  <%= f.input :parent_id, as: :hidden %>
  <%= f.date_field :day_when, as: :string, label: "Day" %>
  <%= f.time_field :meeting_hour, class: "flatpickr", data: { controller: "flatpickr" } %>
  </p>
  <div class="d-grid">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>