<% meetings.each do |meeting| %>
  <div class="card mb-3">
    <h5 class="card-header"><%= meeting.name %></h5>
    <div class="card-body">
      <h5 class="card-title">Notes</h5>
      <p class="card-text"><%= meeting.notes %></p>

      <h5 class="card-title">Duration</h5>
      <p class="card-text"><%= meeting.duration %> minutes</p>

      <%= render "available_hours", meeting: meeting %>

      <a href="<%= new_parent_parent_meeting_path(meeting_id: meeting.id) %>" class="btn btn-primary mt-3">
        Book this meeting
      </a>
    </div>
  </div>
<% end %>
