<% content_for :title, "Users" %>
<% headings = capture do%>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Last Login</th>
    <th>Actions</th>
  </tr>
<% end %>

</p>
<h2>Teachers</h2>
<table class="table uniform-table">
  <thead>
    <%= headings %>
  </thead>
  <tbody>
    <% @teachers.each do |user| %>
      <%= render "user_row", user: user %>
    <% end %>
  </tbody>
</table>

<h2>Parents</h2>
<table class="table uniform-table">
  <thead>
    <%= headings %>
  </thead>
  <tbody>
    <% @parents.each do |user| %>
      <%= render "user_row", user: user %>
    <% end %>
  </tbody>
</table>

<h2>Quests</h2>
<table class="table uniform-table">
  <thead>
    <%= headings %>
  </thead>
  <tbody>
    <% @quests.each do |user| %>
      <%= render "user_row", user: user %>
    <% end %>
  </tbody>
</table>
