<div id="<%= dom_id meeting_hour %>">
  <p>
    <strong>From:</strong>
    <%= meeting_hour.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= meeting_hour.to %>
  </p>

  <p>
    <strong>:</strong>
    <%= meeting_hour. %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= meeting_hour.day %>
  </p>

  <p>
    <strong>:</strong>
    <%= meeting_hour. %>
  </p>

  <p>
    <strong>Metting:</strong>
    <%= meeting_hour.metting_id %>
  </p>

</div>
